python 기초문법
- 기본, 식별자 , 변수, 데이터 타입(동적타이핑), 데이터 형변환

comment,print

In [1]:
# this is function

def func():
    return 100

In [2]:
print("data", end = '')

# 프린트 문 end = '' 가 디폴트 값으로 들어가 있어서 자동 줄바꿈 되는 것이다.
print("data2")

data

In [7]:
## print formating
s = "data"
s2 = "data2"
print("this is a {}, {}".format(s, s2))

this is a data, data2

In [10]:
## print formating 2
s = "hyelan"
s2 = "jeong"
print("this is a {addr}, {name}".format(name=s, addr=s2))

this is a jeong, hyelan

식별자
- 변수, 함수, 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
- 규칙을 알아두어야 한다.
    - 대소문자 구분한다.
    - 소문자, 대문자, 숫자(0~9),특수문자는 _만 사용가능함
    - 가장 앞에 __ 사용하는 것은 지양한다.  __name__ 이미 사용되고 있음
    - 가장 앞에 숫자 사용 불가능
    - 예약어 사용 불가 : def print

In [12]:
a = 1
A = 2

In [13]:
a, A

(1, 2)

변수 : 메모리에 

- = 은 대입을 의미한다. ram에 공간을 하나 만들어서 int 형태로 자동으로 만들어진다. (동적타이핑) 주소값이 할당이 된다. 주소값으로 접근하기 어렵기 때문에 변수명을 선언해준다. 변수는 메모리의 주소값을 참조한다.

In [15]:
a = 1

In [16]:
b = 'python'

In [17]:
a, b

(1, 'python')

In [18]:
# 숫자 사용 불가, 에러 앞뒷줄 살펴보기
1_abc = 10

SyntaxError: invalid token (<ipython-input-18-318025598a52>, line 1)

In [19]:
# 다중할당 - 한줄에 여러개의 변수를 선언해서 값을 넣어준다.

a, b = 1, "python"

In [20]:
a, b

(1, 'python')

In [21]:
# 각각의 메모리가 생기게 된다. 하나가 모두 하나의 메모리 주소값을 나타내는 것이 아니다.

c = d = e = 'data'

In [22]:
c, d, e

('data', 'data', 'data')

In [ ]:
# c, d, e = 'data','data','data' 보다 더 편하다.

In [23]:
'python'

'python'

#### 자료형 datatype
- number : int, float, complex
- string : 
- boolean : True, False
- collection : list tuple dict set

In [39]:
# 1. Number - int

a, b, c, d = 0, 12345, -1234, +1938
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

(0, 12345, -1234, 1938)

In [40]:
# Number - float

a, b, c, d = 0.0, 123.325, -123124.34, +93894

In [46]:
# Number - complex

a = 2 + 3j
a
type(a)
b = complex(3, -4)

In [48]:
a.real, a.imag
print(type(a.real), type(a.imag))

<class 'float'> <class 'float'>

In [49]:
a + b, a * b,

((5-1j), (18+1j))

In [50]:
a.conjugate()

(2-3j)

In [51]:
abs(a)

3.605551275463989

In [55]:
# Boolean

a, b = True, False
a, b 
type(a)

bool

In [58]:
# String " ' 둘다 사용 가능
a, b, c = "data", 'science', "'data science' is good"
print(type(a), type(b), type(c))
print(a, b, c)

<class 'str'> <class 'str'> <class 'str'>
data science 'data science' is good

In [62]:
# String - multi line
a = """ 

여기 안에 적으면 돼요~

fast campus

data science

"""

print(a)

여기 안에 적으면 돼요~

fast campus

data science

In [65]:
# String - multiful string (아티클 내에서 조사, 명사 등의 형태소 분석을 하게 되는데 조사를 다 뺀 후에 단어들의 조합 단위로 분석하게 되는데 그때 for문 사용하지 않고도 편리하게 여러 문자열 반복 가능하다.)
s = "Data " * 10

s

'Data Data Data Data Data Data Data Data Data Data '

In [69]:
# String - offset : 문자열의 문자 하나하나에 넘버링을 해서 문자열의 특정 위치의 문자열 선택이 가능 

a = 'abcdefg'
a[0]
a[5]
a[-1]

'g'

In [73]:
# String - 문자열 범위 설정해서 가지고 오기
a[1:3], a[:5], a[3:]

('bc', 'abcde', 'defg')

In [74]:
len(a)

7

In [80]:
# step
# inverse
a[::2], a[::-1], a[::-2]

('aceg', 'gfedcba', 'geca')

In [81]:
# Sting Method - upper (대문자로 바꾼다.)

a.upper()

'ABCDEFG'

In [83]:
# Sring Method - lower (소문자로 바꾼다.) 
a.lower()
a.upper().lower()

'abcdefg'

In [87]:
# Sring Method - find (문자열 어디에 문자가 어디에 있는지 위치 보낸다)
a.find('a'), a.find('c'), a.find('z'), a.find('cd')

(0, 2, -1, 2)

In [90]:
# Sring Method - index (없는 문자열 검색하게 되면 에러가 발생된다. find -1 리턴한다.)
a.index('a'), a.index('z')

ValueError: substring not found

In [96]:
# Sring Method - count (항상 문자열 안의 문자를 검색하고 싶을때 ' 사용한다.)
b = 'asdfqweras'
c = 'qw'
b.count('as'), b.count(c)

(2, 1)

In [99]:
# Sring Method - strip 공백 없애기, 함수를 연결해서 사용하는 걸 체이닝이라고 부른다.
s = ' data science '
s.rstrip(), s.lstrip(), s.strip(), s.rstrip().lstrip()

(' data science', 'data science ', 'data science')

In [100]:
# Sring Method - replace

s.replace('da','tb')

' tbta science '

In [102]:
# Sring Method - split (특정한 문자로 나누고 싶을 때)

s.strip().split(' ')

['data', 'science']

In [103]:
s = 'data, science'
s.split(',')

['data', ' science']

In [ ]:
csv comma seperate value ,로 나눠진 데이터 파일

In [116]:
# collection - list : 순서가 있는 데이터의 집합을 가지는 데이터 타입
# 리스트 선언
ls = ["fast","campus","data","science"]
ls[2], ls[1:3]
ls2 = [1,2,3,[1,2]]
ls3 = [[7,8,9],[4,5,6],[1,2,3]]
ls4 = [1, True, "fast"] # 데이터 타입 다른 것도 넣어줄 수 있다.
ls4[1]
print(type(ls),type(ls2),type(ls3),type(ls4))
ls3, ls4

<class 'list'> <class 'list'> <class 'list'> <class 'list'>

([[7, 8, 9], [4, 5, 6], [1, 2, 3]], [1, True, 'fast'])

In [121]:
# list offset

ls = ["fast","campus","data","science"]
ls[-1], ls[1], ls[1:3], ls[:3], ls[2:], ls[::-1]

('science',
 'campus',
 ['campus', 'data'],
 ['fast', 'campus', 'data'],
 ['data', 'science'],
 ['science', 'data', 'campus', 'fast'])

In [122]:
ls[0] = "data"

In [123]:
ls

['data', 'campus', 'data', 'science']

In [ ]:
# list method 
#append, sort, reverse, index, insert(특정 위치에 추가 가능), remove, pop

In [124]:
# list method - append
ls

['data', 'campus', 'data', 'science']

In [125]:
ls.append('dss8')

In [126]:
ls

['data', 'campus', 'data', 'science', 'dss8']

In [128]:
# list method - sort (실행의 결과가 ls에 저장이 된다.)

ls.sort()

In [129]:
ls

['campus', 'data', 'data', 'dss8', 'science']

In [131]:
# list method - reverse
ls.reverse()
ls

['campus', 'data', 'data', 'dss8', 'science']

In [132]:
# list method - index
ls.index('data')

1

In [133]:
ls.index('dss8')

3

In [134]:
ls.index('fast')

ValueError: 'fast' is not in list

In [135]:
ls

['campus', 'data', 'data', 'dss8', 'science']

In [137]:
ls.insert(3, 'insert')

In [138]:
ls

['campus', 'data', 'data', 'insert', 'index', 'dss8', 'science']

In [139]:
ls.remove("insert")

In [140]:
ls

['campus', 'data', 'data', 'index', 'dss8', 'science']

In [141]:
ls.remove("data")

In [142]:
ls

['campus', 'data', 'index', 'dss8', 'science']

In [143]:
ls.pop()

'science'

In [144]:
ls

['campus', 'data', 'index', 'dss8']

In [145]:
ls.pop(-1)

'dss8'

In [146]:
ls

['campus', 'data', 'index']

In [147]:
ls[1:3] = 'fast'

In [148]:
ls

['campus', 'f', 'a', 's', 't']

In [152]:
# list method - copy 중요하다~~  실수가 많으니 다시 공부해보자!!

a = [1,2,3]
b = a   # a의 주소값이 b에 저장되는 것이고
a, b

b[2] = 10 # 같은 주소값을 공유하기 때문에 다 같이 바뀌게 되는데
a, b

([1, 2, 10], [1, 2, 10])

In [153]:
c = a.copy() # 같이 바뀌는 것을 방지하기 위해서 a, b 가 다른 주소값을 가지게 된다.
a, b, c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [154]:
a[2] = 100

In [155]:
a, b, c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

In [ ]:
# Tuple - list와 같이 순서가 있는 데이터 타입, 수정이 불가능
# 튜플 사용 이유 : 리스트보다 메모리(컴퓨터 자원)을 적게 사용한다.
# 바뀔 가능성이 없는 데이터 튜플 사용하는 것이 더 좋다.

In [156]:
# 튜플 선언
t = 1, 2, 3, 4
t

(1, 2, 3, 4)

In [160]:
t = (1, "dss8", True, [1,2,3,4])

In [159]:
t

(1, 2, 3, 4)

In [162]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [164]:
t[1:3], t[::2]

(('dss8', True), (1, True))

In [166]:
# 튜플이 메모리를 더 적게쓰는 것을 확인해 볼 수 있다.

import sys

# getsizeof : byte단위로 특정 변수에 사용하는 메모리 공간을 알려준다.

ls = [1,2,3,4,5]
tu = (1,2,3,4,5)
sys.getsizeof(ls), sys.getsizeof(tu)

(104, 88)

In [ ]:
# Dictionary (리스트와 딕셔너리를 많이 사용한다.) 
# 데이터에 순서가 없다. key와 value값이 쌍으로 가지는 데이터 타입

In [167]:
#dictionary 선언

dic = {
    1:"one", 2:"two", "A":['data', 'science'], '숫자': 1234
}

In [170]:
dic, type(dic)

({1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234}, dict)

In [171]:
dic[1] = '하나'

In [172]:
dic

{1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234}

In [174]:
dic['A'] = '알파벳'
dic

{1: '하나', 2: 'two', 'A': '알파벳', '숫자': 1234}

In [ ]:
# 딕셔너리 선언시 마지막에 콤마 적어줘도 되고 안적어줘도 된다. 하지만 콤마 마지막에 많은 사람들이 적어주는데

# 깃허브에서 수정시 한줄만 보면 되기 때문에 마지막에 콤마 붙여주는 습관 들이는 것이 좋다.

In [ ]:
# dictionary method - keys, values, items, clear, get, copy, update(딕셔너리 두개를 합치고 싶을때 이거 사용한다.)

In [175]:
dic.keys()

dict_keys([1, 2, 'A', '숫자'])

In [176]:
dic.values()

dict_values(['하나', 'two', '알파벳', 1234])

In [177]:
dic.items()

dict_items([(1, '하나'), (2, 'two'), ('A', '알파벳'), ('숫자', 1234)])

In [ ]:
# items 튜플로 묶어서 출력해준다.

In [179]:
dic.clear()
dic

{}

In [181]:
dic = {1:"one", 2:"two", 3:"three"}
dic.get(4)

In [182]:
dic

{1: 'one', 2: 'two', 3: 'three'}

In [183]:
dic.get(4,"no data")  #get 사용하면 그냥 dict[4]와 달리 에러가 발생하지 않는다. 디폴트도 지정할 수 있다.

'no data'

In [184]:
dic.get(4)

In [185]:
dic2 = {3:"삼", 4:"사", 5:"오"}

In [186]:
dic2

{3: '삼', 4: '사', 5: '오'}

In [187]:
dic.update(dic2)

In [188]:
dic

{1: 'one', 2: 'two', 3: '삼', 4: '사', 5: '오'}

In [ ]:
# 이전 값은 덮어쓰기 된다.

In [ ]:
dic = {1 :"one","A":"a"}

In [ ]:
# 하나만 삭제하고 싶을때 del dic[1]사용하면된다.
# 전부 다 삭제하고 싶을 때는 clear 사용`

##### set
- 중복되는 데이터가 없는 집합 형태의 데이터 타입
- 합집합, 차집합, 교집합과 같은 집합의 연산이 가능하다.
- 순서가 없다. >> 수정이 불가능하다. >> 수정하고 싶으면 리스트로 바꾼다음에 변경 가능하다.
- 리스트 데이터에서 중복을 제거할 때 사용될 수 있다.

In [1]:
# 선언
# 안에는 리스트 형태의 파라미터가 들어온다.
s = set([1,2,3,4,5,1,2,3])
type(s), s

(set, {1, 2, 3, 4, 5})

In [2]:
s = list(s)
s[0] = 100
s = set(s)
s

# but 순서가 보존이 되지 않는다. 확실하지 않음

{2, 3, 4, 5, 100}

In [8]:
# set 연산(인덱스 사용할 수 없다.)

s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# 교집합 : &
print(s1 & s2)
print(s1.intersection(s2))

# 합집합 : 
print(s1|s2)
print(s1.union(s2))

# 차집합 : -

print(s1- s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [ ]:
# 코드 효율적으로 작성하는 방법

def test(num1, num2):
    print(num1)
    print(num2)
    
command shift 아래키     
ctrl 사용해서
shift tab : 역으로 tab
command / 하면 전체주석이 된다.

#### 데이터 형변환
- 변수의 데이터 타입을 변경하는 것입니다.
- 데이터의 값과 변경하려는 데이터의 타입에 따라서 변경이 불가능할 수 있다.
- 숫자는 숫자끼리, 문자는 문자끼리 연산이 가능하기 때문에 형변환을 해서 사용할 수 있다.

In [10]:
a = "1"
type(int(a))

int

In [11]:
a = 'a'
int(a)

ValueError: invalid literal for int() with base 10: 'a'

In [12]:
# 문자열과 숫자의 변경
s = '1234'
n = int(s)
type(n), n

(int, 1234)

In [14]:
# Boolean 데이터 타입으로의 형변환 (약간 중요하다.)

bool(""), bool("abcd")

(False, True)

In [ ]:
bool(-1), # 숫자가 0 인 경우에 False 나온다.

In [15]:
bool([]),bool([1,2,3,4])

(False, True)

In [18]:
if False:
    print("dss8")

In [19]:
s1, s2 = "","dss"
if s1 :
    print("dss8")
if s2 :
    print("dss8")

dss8

In [20]:
# 리스트와 스트링 데이터 형변환
s = "data"
list(s)

['d', 'a', 't', 'a']

In [23]:
# 튜플과 딕셔너리 데이터 형변환
# 튜플 > 딕셔너리 : 튜플 데이터가 (key, value)형태로 선언이 되어야 바꿀 수 있다.

t =((1,"one"),("A","two"))
dict(t)

{1: 'one', 'A': 'two'}

In [28]:
# 딕셔너리 > 튜플

#items() 해줘야 키 밸류 모두 다 나온다.

tuple(t.items())

AttributeError: 'tuple' object has no attribute 'items'

##### 연산자
- 산술 연산자, 비교연산자, 할당(대입)연산자, 비트연산자, 논리연산자, 멤버연산자, 식별 연산자

In [29]:
# 산술 연산자 : + - / * //(몫) %(나머지) **(제곱; 파이썬만 가지고 있다)

print(2+4)
print(2-4)
print(5/3)
print(5*3)

6
-2
1.6666666666666667
15

In [33]:
print(14 // 3)
print(14% 3)

4
2

In [35]:
print(3 ** 4)
# 제곱 연산 이용해서 루트도 계산 할 수 있다.
print(3 ** 0.5)

81
1.7320508075688772

In [39]:
# 비교연산자 : a == b, a != b(a와 b가 다르면 true를 리턴한다.), > < >= <=
a, b, c = 10, 20, 10

print(a, b, c)
print(a == b)
print(a != b)
print(a < b)
print(a > b)

10 20 10
False
True
True
False

In [45]:
# 할당연산자(대입연산자) : =, +=, -=, *=, //=, %=, **=

a = 5
print(a)

# a = a + 10
# a =+ 10 두개 같은 표현법이다.
print(a)

a //= 3
a %= 4

5
5

In [52]:
# 비트연산자 : &, |, ^, ~, <<, >> 컴퓨터에게는 더 빠르지만 사용자에게는 불편하다.

a = 3 #011
b = 5 #101


# bin() 이진수로 형변환 해주는 함수
# 0b1 : 숫자 이진수(binary)임을 알려준다.


print(a & b) # 둘중에 하나라도 0이라면 0이 나온다.
print(a | b, bin (a |b))
print(a^b, bin(a^b))
print(~a, bin(~a))
print(a << 2 , bin(a<<2 )) # 앞으로 두자리 옮겨가고 나머지는 0 채워준다.
print(a >> 2, bin(a>>2)) # 나눗셈 연산의 몫이 나온다.

# ~보수를 나타내준다 (0, -1을 기준으로 반대편에 있는 숫자, 뺄셈을 )

1
7 0b111
6 0b110
-4 -0b100
12 0b1100
0 0b0

In [54]:
# 논리 연산자 : and(둘다 True이면 True), or(둘중 하나만 True이면 True) not (True를 False
, False를 True로)

a, b, c, d = 1, 2, 3, 4

a > b and c < d
a > b or c < d

True

In [57]:
# 멤버연산자 : in, not in 

ls = [1,2,3,4,5]
print(1 in ls)
print(6 in ls)

print(1 not in ls)
print(6 not in ls)

True
False
False
True

In [62]:
# 식별연산자 : is, is not

# 컬렉션이 아닌 데이터타입은 값을 비교한다. ***** 중요
# 컬렉션의 데이터타입은 주소를 비교한다 ****** 중요

a = "abc"
b = a
c = "abc"
print(a is c) #(a는 b이다)

True

In [63]:
a = [1,2,3]
b = a
print(a is b)

c = [1,2,3]
print(a is c)

# 컬렉션 타입의 데이터는 주소값을 비교하기 때문에 a와 c는 다른 것이다 *****중요

True
False