## Input, Output, Condition, Loop

#### input
- 데이터를 받을 때 사용합니다

In [1]:
s = input("insert sting : ")

print(type(s),s)

insert sting : test
<class 'str'> test

In [3]:
print("data",end="\n")
print("dss")

print("fast", end="\t")
print("campus")

data
dss
fast	campus

In [3]:
n = int(input("insert number :"))
print(type(n),n)

insert number :123
<class 'int'> 123

In [ ]:
ls = input("insert list sep = ' ' : ")
ls.split(" ")
print(type(ls),ls)

In [4]:
# 출력 - print
a, b = 0, 1
print(a, b)

0 1

In [7]:
# pprint : 딕셔너리 형태의 큰 데이터를 보기 편하게 출력합니다. 
#(원래 한줄로 나오는데 인덴트 들어간 형태로 보여준다.)

from pprint import pprint

dic = {"A":90, "B":70, "C":100, "D":90, "E":70, "F":100, "G":90, "H":70, "I":100}

print(dic)
pprint(dic)

{'A': 90, 'B': 70, 'C': 100, 'D': 90, 'E': 70, 'F': 100, 'G': 90, 'H': 70, 'I': 100}
{'A': 90,
 'B': 70,
 'C': 100,
 'D': 90,
 'E': 70,
 'F': 100,
 'G': 90,
 'H': 70,
 'I': 100}

# 조건 : if, elif, else

if <조건> #이 True인 경우에 아래 코드를 실행한다.:
    <code>

In [ ]:
if True :
    print("if")

    print("done")

In [ ]:
# 에디터 4칸으로 변경해서 사용해야한다. 
#python indentation 중요하기 때문에 space4번 = tab

In [ ]:
star1 = 4
star2 = 2

if star1 > 3 :
    print("good")
else:
    print("bad") #else는 조건 확인 없이 바로 수행문 가능하기 때문에 else사용한다.

In [ ]:
# elif
# 학점
# 60점 이하 F, 61~70 : D, 71~80: C, 81~90 :B, 91 ~ 100: A

point = 74

if point > 90:
    print("A")
elif point > 80:
    print("B")
elif point > 70:
    print("C")
elif point > 60:
    print("D")
else:
    print("F")

In [5]:
# 숫자를 입력을 받아서 짝수이면 even 출력 홀수이면 odd 출력하는 프로그램을 작성하세요

num=int(input("숫자를 입력하세요"))

if num %2 == 0 :
    print("even")
else :
    print("odd")

숫자를 입력하세요5
odd

In [9]:
# 삼항연산 **** 많이 사용하게 될 것이다.
# result = (True인 경우에 실행)if <조건> else (false인 경우에 실행)

In [8]:
# 숫자를 입력받아 짝수면 even 홀수면 odd를 출력하는 삼항연산문 작성
number = 13
result = "even" if number %2 == 0 else "odd" # 삼항연산이 result에 들어가게 된다.
print(result)

odd

#### 반복문 
- while, for, break, continue, list comprehention
- while 사용시 무한 루프에 빠지지 않도록 조심해야 한다.

In [13]:
'''
while <조건>:
    code
'''

a = 3
while a > 0:
    print(a)
    a -=1
    
a

3
2
1

0

In [15]:
# break : 만나는 순간 코드를 빠져나가게 된다.

a = 0
while True:
    print(a)
    if a == 3:
        break
    a += 1
    
a

0
1
2
3

3

In [16]:
# continue

a = 5
while a > 0:
    a -= 1
    if a %2 != 0:
        continue
    print("even",a)

## For

'''
for var in list:
    code
'''

In [18]:
ls = [1,2,3]
for value in ls:
    print(value)  # for 문도 break와 continue 사용 가능하다

1
2
3

In [23]:
ls = [1,2,3]
for value in ls:
    if value%2 == 0:
        continue
    print(value)

1
3

In [29]:
# range (숫자) # 예전에는 range없어서 list = [1,2,3,4,5,6, so on ] 이런식으로 적었어야 했다.

list(range(5))

[0, 1, 2, 3, 4]

In [32]:
list(range(2,5))

[2, 3, 4]

In [33]:

list(range(0,10,2))

[0, 2, 4, 6, 8]

In [34]:
list(range(5,0,-2))

[5, 3, 1]

In [36]:
# 아무런 변수 사용하고 싶지않을때 _ 사용하는 convention 있음

for _ in range(5):
    print("dss")

dss
dss
dss
dss
dss

In [37]:
#zip : 2개의 리스트를 key, vaule 형태로 묶어주는 함수

In [38]:
subs = ["math","korean","science"]
points = [100,80,90]

# 두개의 리스트를 딕셔너리로 바꾸고 싶을때 

# 첫번째 방법 : dict선언

dic = {}

for idx in range(len(subs)):
    print(subs[idx], points[idx])
    dic[subs[idx]]=points[idx]
    
dic

math 100
korean 80
science 90

{'math': 100, 'korean': 80, 'science': 90}

In [42]:
# 두번째 방법 : zip 두개의 데이터를 묶어준다.

subs = ["math","korean","science"]
points = [100,80,90]

for sub, point in zip(subs, points):
        print(sub, point)
        dic[sub]=point
dic

math 100
korean 80
science 90

{'math': 100, 'korean': 80, 'science': 90}

In [43]:
dict(zip(subs,points)) # 이게 가장 쉬운 방법이다.

{'math': 100, 'korean': 80, 'science': 90}

In [46]:
# enumerate : 리스트 데이터를 index와 value 동시에 사용하고 싶을 때
ls = ["data","science","dss"]
i = 0
for value in ls:
    print(i, value)
    i += 1
    
# 하지만 enumerate 사용해서 자동으로 idx 적용 가능하다

0 data
1 science
2 dss

In [25]:
subjects = ["korean", "english", "math", "science"]
for value in subjects:
    print(value)

    subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx, value)

korean
english
math
science
0 korean
1 english
2 math
3 science

In [48]:
# enumerate : 리스트 데이터를 index와 value 동시에 사용하고 싶을 때
ls = ["data","science","dss"]

for idx, value in enumerate(ls):
    print(idx, value)

0 data
1 science
2 dss

In [49]:
dss_idx = []

for idx, value in enumerate(ls):
    if value == "dss"
    print(idx, value)

SyntaxError: invalid syntax (<ipython-input-49-41dd8659dbf1>, line 4)

In [50]:
# for문을 이용해서 리스트 안에 있는 모든 숫자를 더하는 코딩을 하세요

ls = [1,3,5,7,9]
result = 0

for i in ls:
    result += i

result

25

### List Comprehension (최대한 이거 사용하는 것이 좋다.)

- 반복문의 리스트 결과를 한줄로 코딩하여 바로 만들어 줍니다.
- 리스트 데이터를 만들때 for 문보다 속도가 빠르다.
- 함수형 프로그래밍이라고 부르기도 한다.

```
ls = [<value>+1 for <value> in <list> (if <condition> )]

```

조건 적어도 되고 안적어도 되고
조건에 True값이 될때 앞의 Vaule 값이 나오게 된다.

In [28]:
# method 1

ls = []
ls = [1,2,3,4,5]
print(ls)

ls = []
ls.append(1)
ls.append(2)
ls.append(3)
print(ls)

ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

ls = [num for num in range(1,6)]
print(ls)


# list comprehension 사용하면 자동으로 리스트에 append되게 사용 가능하다.

[1, 2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [35]:
%%timeit
ls = []
for num in range(1,10000):
    ls.append(num)
len(ls)

1.09 ms ± 11.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [34]:
%%timeit
ls = [num for num in range(1,10000)]
len(ls)

416 µs ± 11.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [39]:
# 0~10까지 숫자를 출력하고 출력되는 숫자 뒤에 홀수인지 짝수인지 문자열을 출력하는 코드 (앞에 if 삼항연산)

ls = [str(num)+ ":even" if num %2 ==0 else str(num)+":odd" for num in range (11)]
print(ls)

# 앞에 삼항연산을 넣어줄수 있음

['0:even', '1:odd', '2:even', '3:odd', '4:even', '5:odd', '6:even', '7:odd', '8:even', '9:odd', '10:even']

In [41]:
# 0~10까지 숫자 중에서 홀수만 출력해주는 코드 (뒤에 조건 적어준다.)

ls = [num for num in range(11) if num % 2 == 1]
print(ls)

[1, 3, 5, 7, 9]

In [49]:
# quiz 다시 보기!!! 

# 성과 이름 중 성만 판별하고 싶을때 split 이용해서 나눈후에 평가한다.

# 맨 뒤 if for문을 통해서 나온 값들을 판별한다. 

# 생각하는 것을 코드로 옮기는 연습을 많이 해야한다!!

names = ["kim dss","park python","lee data","lee school","jung science"]

names = [
         name.split(" ")[1] if name.split(" ")[0]== 'lee' else name 
         for name in names
        if name.split(" ")[0] != "park"
]

names

# 이씨 성을 가지고 있는 성을 삭제하는 코드

['kim dss', 'data', 'school', 'jung science']